<%- include('../partials/header.ejs') %>
    <div class="container py-3">

        <div class="row">

            <div class="col-0 col-md-2 d-none d-lg-block"><img src="/images/ads.png"
                    class="img-fluid vh-100 sticky-md-top" alt="">
            </div>
            <div class="col">
                <section class="posts">
                    <% for (let post of posts){ %>
                        <div class="mx-auto card cm-shadow mb-3 mb-md-4">
                            <div class="d-md-flex">
                                <div class="bg-image d-md-none d-block hover-zoom pointer">
                                    <img src="<%= post.thumbnail %>" alt="img"
                                        style="height: 12rem; object-fit: cover; width: 100%;" />
                                    <div class="mask"><span class="badge badge-secondary text-uppercase mt-2 ms-2">
                                            <%= post.tags[0] %>
                                        </span></div>
                                </div>
                                <div class="d-none d-md-block post-thumbnail pointer">

                                    <img src="<%= post.thumbnail %>" class="img-fluid rounded-start" alt="">
                                </div>
                                <div class="w-100">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">
                                            <a href="/<%= post.author.username %>/<%= post.url %>" class="post-title">
                                                <%= post.title %>
                                            </a>

                                        </h5>

                                        <p class="card-text text-muted" style="font-size: 0.9rem;">
                                            <%= truncate(post.body) %>
                                        </p>

                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <span class="badge badge-secondary text-uppercase d-none d-md-block">
                                            <%= post.tags[0] %>
                                        </span>
                                        <small class="text-muted">
                                            <span><i class="bi bi-calendar2 me-1"></i> </span>
                                            <%= moment(post.createdAt) %>
                                        </small>
                                        <small class="text-muted user">
                                            <i class="bi bi-person-fill me-1"></i>
                                            <a href="/user/<%= post.author.username %>" class="muted-link">
                                                <%= post.author.name %>
                                            </a>
                                        </small>
                                        <small class="text-muted">
                                            <i class="bi bi-clock me-1"></i>
                                            <%= round(post.readTime) %> min read

                                        </small>
                                        <% if (logged.bookmarks.length> 0) { %>
                                            <span class="bookmark pointer" data-post="<%= post.url %>">
                                                <% if (logged.bookmarks.includes(post.id)) { %>
                                                    <i class="bi bi-bookmark-fill"></i>
                                                    <% } else { %>
                                                        <i class="bi bi-bookmark"></i>
                                                        <% } %>
                                            </span>
                                            <% } %>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <% } %>
                </section>
                <% if (totalPages> 1) { %>
                    <%- include('../partials/pagination.ejs') %>
                        <% } %>
            </div>
            <div class="col-0 col-md-2 d-none d-lg-block"><img src="/images/ads.png"
                    class="img-fluid vh-100 sticky-md-top" alt=""></div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
        <script src="/scripts/bookmark.js"></script>
        </body>

        </html>