<%- include('../partials/header.ejs') %>
    <div class="container px-lg-0">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class=" card cm-shadow">
                    <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top"
                        style="max-height: 20rem; object-fit: cover;">
                    <div class="card-body overflow-hidden">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex">
                                <a href="/user/<%= author.user.username %>" class="my-auto">
                                    <img src="<%= author.profilePics %>" class="rounded-circle img-fluid"
                                        style="height: 50px; object-fit: cover;" alt="<%= author.name %>">
                                </a>
                                <div class="py-1 ps-2">
                                    <a href="/user/<%= author.user.username %>" class="post-title">
                                        <%= author.name %>
                                    </a>


                                    <div>
                                        <small class="text-muted">
                                            Posted On
                                            <%= formatDate(post.createdAt, 'DD MMMM, YYYY' ) %>

                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <% if (user) { %>
                                    <span class="bookmark pointer" data-post="<%= post.url %>">
                                        <% if (author.bookmarks.includes(post.id)) { %>
                                            <i class="bi bi-bookmark-fill"></i>
                                            <% } else { %>
                                                <i class="bi bi-bookmark"></i>
                                                <% } %>
                                    </span>
                                    <% } %>

                            </div>
                        </div>
                        <h1 class="card-title text-dark fw-bolder mb-2">
                            <%= post.title %>
                        </h1>
                        <div class="mb-3">
                            <% post.tags.forEach(tags=> { %>
                                <span class="btn btn-outline-secondary btn-sm text-lowercase me-1">
                                    <%= '#' + tags %>
                                </span>
                                <% }) %>
                        </div>
                        <p class="card-text">
                            <%- post.body %>
                        </p>

                        <div class="d-flex justify-content-md-between flex-column-reverse flex-md-row">
                            <div class="d-flex align-items-center">
                                <span class="fw-bold text-muted share-buttons"><i
                                        class="bi bi-share-fill me-2"></i>Share:</span>


                                <a class="btn btn-primary ms-2" style="background-color: #3b5998;"
                                    href="https://www.facebook.com/sharer.php?u=<%= post.fullUrl %>" role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-primary ms-1" style="background-color: #55acee;"
                                    href="https://twitter.com/intent/tweet?url=<%= post.fullUrl %>" role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <!-- Pinterest -->
                                <a class="btn btn-primary ms-1" style="background-color: #c61118;"
                                    href="https://pinterest.com/pin/create/button/?url=<%= post.fullUrl %>"
                                    role="button">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                                <!-- Reddit -->
                                <a class="btn btn-primary ms-1" style="background-color: #ff4500;"
                                    href="https://reddit.com/submit?url=<%= post.fullUrl %>" role="button">
                                    <i class="fab fa-reddit-alien"></i>
                                </a>
                            </div>
                            <hr class="d-md-none">
                            <% if (user) { %>
                                <div class="d-flex fs-4">
                                    <span class="like text-primary pointer ms-auto ease-in-out"
                                        data-post="<%= post.url %>">
                                        <i
                                            class="bi <%= liked.liked ? 'bi-hand-thumbs-up-fill': 'bi-hand-thumbs-up' %>"></i>
                                        <% if (post.likes.length> 0) { %>
                                            <small>
                                                (<%= post.likes.length %>)</small>
                                            <% } %>
                                    </span>
                                    <span class="dislike ms-2 text-danger pointer ease-in-out"
                                        data-post="<%= post.url %>">
                                        <i
                                            class="bi <%= liked.disliked ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down' %>"></i>
                                        <% if (post.dislikes.length> 0) { %>
                                            <small>
                                                (<%= post.dislikes.length %>)
                                            </small>
                                            <% } %>
                                    </span>
                                </div>
                                <% } %>


                        </div>



                    </div>
                    <div class="card-footer">
                        <h5 class="fw-bold mb-3"><i class="bi bi-chat-dots me-2"></i>Comments
                            <%= post.comments.length>
                                0 ? `(${post.comments.length})`: '' %>
                        </h5>
                        <% if (user) { %>
                            <textarea id="comment-field" class="form-control" rows="4"
                                placeholder="Add a comment to the post" data-post="<%= post.url %>"
                                data-id="<%= post._id %>"></textarea>
                            <button class="btn btn-primary mt-2 disabled"><span
                                    class="fw-bold fs-6">Comment</span></button>
                            <% } else { %>
                                <p class="text-muted">
                                    Please <a href="/auth/login">login</a> or <a href="/auth/signup">signup</a> to add a
                                    comment.
                                </p>
                                <% } %>
                                    <div class="container-fluid py-3" id="comments">

                                        <% post.comments.forEach(comment=> { %>
                                            <div class="d-flex mb-3" id="<%= 'comment-' + toDecimal(comment._id) %>">
                                                <a href="/user/<%= comment.user.username %>">
                                                    <img src="<%= comment.user.profilePics %>"
                                                        alt="<%= comment.user.name %>" class="rounded-circle"
                                                        style="height: 50px; width: 50px; object-fit: cover;"></a>
                                                <div class="w-100 ms-2 comment">
                                                    <div class="p-2 border rounded-2 mb-2">
                                                        <div class="d-flex justify-content-between mb-3">
                                                            <div><a href="/user/<%= comment.user.username %>"
                                                                    class="post-title">
                                                                    <%= comment.user.name %>
                                                                </a>

                                                                <div>
                                                                    <small class="text-muted">
                                                                        <%= moment(comment.createdAt ) %>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <% if (user) { %>
                                                                <span class="small pointer text-primary reply"><i
                                                                        class="fas fa-reply me-2"></i>Reply</span>
                                                                <% } %>
                                                        </div>
                                                        <p class="card-text mt-2">
                                                            <%= comment.body %>
                                                        </p>

                                                    </div>
                                                    <% comment.replies.forEach(reply=> { %>
                                                        <div class="d-flex mb-2">
                                                            <a href="/user/<%= reply.user.username %>">
                                                                <img src="<%= reply.user.profilePics %>"
                                                                    alt="<%= reply.user.name %>" class="rounded-circle"
                                                                    style="height: 50px; width: 50px; object-fit: cover"></a>
                                                            <div class="p-2 border rounded-2 ms-2 w-100">
                                                                <div class="mb-2"><a
                                                                        href="/user/<%= reply.user.username %>"
                                                                        class="post-title">
                                                                        <%= reply.user.name %>
                                                                    </a>

                                                                    <div>
                                                                        <small class="text-muted">
                                                                            <%= moment(reply.createdAt ) %>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                                <p class="card-text mt-2">
                                                                    <%= reply.body %>
                                                                </p>
                                                            </div>

                                                        </div>
                                                        <% }) %>

                                                            <% if (user) { %>
                                                                <div class="collapse">
                                                                    <textarea class="form-control ms-2 reply-field"
                                                                        rows="3" placeholder="Reply..."
                                                                        data-id="<%= comment._id %>"></textarea>
                                                                    <button
                                                                        class="btn btn-primary ms-2 mt-2 disabled"><span
                                                                            class="fw-bold">Reply</span></button>
                                                                    <button
                                                                        class="btn btn-outline-info fw-bold ms-2 dismiss">Dismiss</button>
                                                                </div>
                                                                <% } %>

                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 mt-3 mt-lg-0">
                <div class="card cm-shadow position-sticky" style="top: 4.2rem; border-top: 3rem solid blue;">
                    <div class="card-header p-1 px-3">
                        <div class="d-flex">
                            <a href="/user/<%= author.user.username %>">
                                <img src="<%= author.profilePics %>" alt="<%= author.name %>"
                                    class="rounded-circle img-fluid me-2"
                                    style="height: 60px; transform: translateY(-1.4rem);">
                            </a>
                            <a href="/user/<%= author.user.username %>" class="post-title">
                                <h4 class="fw-bold">
                                    <%= author.name %>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">

                        <p class="card-text text-muted">
                            <%= author.bio %>
                        </p>
                        <h5 class="p-0 m-0 fw-bold">
                            Joined
                        </h5>
                        <small class="text-muted card-text">
                            <%= formatDate(author.createdAt, 'DD MMMM, YYYY' ) %>
                        </small>
                        <div class="px-3 pt-4 text-center">
                            <% if (author.links.website) { %>
                                <a type="button" class="btn btn-secondary btn-floating"
                                    href="<%= author.links.website %>" target="_blank">
                                    <i class="fab fa-internet-explorer"></i>
                                </a>
                                <% } %>
                                    <% if (author.links.facebook) { %>
                                        <a type="button" class="btn btn-primary btn-floating"
                                            href="<%= author.links.facebook %>" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <% } %>
                                            <% if (author.links.twitter) { %>
                                                <a type="button" class="btn btn-primary btn-floating"
                                                    href="<%= author.links.twitter %>" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <% } %>
                                                    <% if (author.links.github) { %>
                                                        <a type="button" class="btn btn-dark btn-floating"
                                                            href="<%= author.links.github %>" target="_blank">
                                                            <i class="fab fa-github"></i>
                                                        </a>
                                                        <% } %>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
        <script src="/scripts/bookmark.js"></script>
        <script src="/scripts/moment.js"></script>
        <% if (user) { %>
            <script src="/scripts/likedislike.js"></script>
            <script src="/scripts/comment.js"></script>
            <% } %>

                </body>

                </html>